@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: wheat;
  color: #000;
  overflow: hidden;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
}